<%= form_with(model: lendingitem) do |form| %>
  <% if lendingitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lendingitem.errors.count, "error") %> prohibited this lendingitem from being saved:</h2>

      <ul>
        <% lendingitem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :JANコード %>
    <%= form.text_field :jancode %>
  </div>

  <div class="field">
    <%= form.label :商品名 %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :カテゴリ %>
    <%= form.collection_select(:category, @category, :categoryname,:categoryname) %>
  </div>

  <div class="field">
    <%= form.label :商品画像 %>
    <%= form.file_field :image %>
  
  
  </div>

  <div class="field">
    <%= form.label :金額 %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :貸出日数 %>
    <%= form.number_field :days %>
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit" 商品登録 " %>
  </div>
<% end %>
