<%= form_with(model: lendingitem) do |form| %>
  <% if lendingitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lendingitem.errors.count, "error") %> prohibited this lendingitem from being saved:</h2>

      <ul>
        <% lendingitem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :jancode %>
    <%= form.text_field :jancode %>
  </div>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :image_name %>
    <%= form.text_area :image_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :days %>
    <%= form.number_field :days %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
