<p id="notice"><%= notice %></p>

<p>
  <strong>JANコード:</strong>
  <%= @lendingitem.jancode %>
</p>

<p>
  <strong>商品名:</strong>
  <%= @lendingitem.item %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @lendingitem.category %>
</p>

<p>
  <strong>商品画像:</strong>
  <%= @lendingitem.image_name %>
</p>

<p>
  <strong>金額:</strong>
  <%= @lendingitem.price %>
</p>

<p>
  <strong>期間:</strong>
  <%= @lendingitem.days %>
</p>

<p>
  <strong>備考:</strong>
  <%= @lendingitem.memo %>
</p>

<%= link_to 'Edit', edit_lendingitem_path(@lendingitem) %> |
<%= link_to 'Back', lendingitems_path %>
