<p id="notice"><%= notice %></p>

<p>
  <strong>JANコード:</strong>
  <%= @lendingitem.jancode %>
</p>

<p>
  <strong>商品名:</strong>
  <%= @lendingitem.item %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @lendingitem.category %>
</p>

<p>
  <strong>商品画像:</strong>
  <%= @lendingitem.image_name %>
</p>

<p>
  <strong>金額:</strong>
  <%= @lendingitem.price %>
</p>

<p>
  <strong>期間:</strong>
  <%= @lendingitem.days %>
</p>

<p>
  <strong>備考:</strong>
  <%= @lendingitem.memo %>
</p>

<br>
<%= form_with(url: {controller: 'lendingitems', action: 'kakunin', id: @lendingitem.id}) do |f| %>
  <label>期間</label>
  <%= f.number_field('num') %>
  <%= f.submit ('最終確認')%>
<% end %>
<br>
<h6><%= link_to '&lt;&lt;戻る'.html_safe,:back %></h6>
