<h1 class="display-4 text-primary">
  マイページ</h1>

<p>●<%= @account.u_name %>様●</p>
<p>メールアドレス:<%= @account.email %></p>
<strong><p><%= link_to '〇ユーザー情報編集', '/accounts/edit' %></p></strong>
<hr>
<ul>
  <h4><li><%=link_to '検索','/lendingitems/kensaku' %></li></h4>
  <h4><li><%=link_to '商品登録','/lendingitems/new' %></li></h4>
  <h4><li><%=link_to '貸出一覧','/lendingitems' %></li></h4>
</ul>
<h5><%= link_to "&lt;&lt;ログアウト".html_safe,destroy_account_session_path,method: :delete %></h5>


