<p id="notice"><%= notice %></p>

<h1>Lineids</h1>

<table>
  <thead>
    <tr>
      <th>Line</th>
      <th>Flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineids.each do |lineid| %>
      <tr>
        <td><%= lineid.line_id %></td>
        <td><%= lineid.flag %></td>
        <td><%= link_to 'Show', lineid %></td>
        <td><%= link_to 'Edit', edit_lineid_path(lineid) %></td>
        <td><%= link_to 'Destroy', lineid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lineid', new_lineid_path %>
