<p id="notice"><%= notice %></p>

<p>
  <strong>Line:</strong>
  <%= @lineid.line_id %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @lineid.flag %>
</p>

<%= link_to 'Edit', edit_lineid_path(@lineid) %> |
<%= link_to 'Back', lineids_path %>
