<p id="notice"><%= notice %></p>

<p>
  <strong>Jancode:</strong>
  <%= @jancode.jancode %>
</p>

<p>
  <strong>Categoryno:</strong>
  <%= @jancode.categoryno %>
</p>

<p>
  <strong>Item:</strong>
  <%= @jancode.item %>
</p>

<%= link_to 'Edit', edit_jancode_path(@jancode) %> |
<%= link_to 'Back', jancodes_path %>
