<p id="notice"><%= notice %></p>

<p>
  <strong>カテゴリ名:</strong>
  <%= @category.categoryname %>
</p>

<p>
  <strong>カテゴリNo:</strong>
  <%= @category.categoryno %>
</p>

<%= link_to '編集', edit_category_path(@category) %> |
<%= link_to '戻る', categories_path %>
